<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Notas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='notas.css') }}">
</head>
<body>
    <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Asignar Notas</h1>
    <form id="nota-form" action="/asignar_nota" method="POST">
        <div>
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
                <option value="">Selecciona una categoría</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="id_curso">Curso:</label>
            <select id="id_curso" name="id_curso" required>
                <option value="" disabled selected>Seleccione un curso</option>
                {% for curso in cursos %}
                    <option value="{{ curso.id_curso }}">{{ curso.nombre_curso }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="estudiante">Estudiante:</label>
            <select id="estudiante" name="id_estudiante" required>
                <option value="">Selecciona un estudiante</option>
                {% for estudiante in estudiantes %}
                    <option value="{{ estudiante.id_estudiante }}">{{ estudiante.nombre }} {{ estudiante.apellido }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="dni_estudiante">Cédula del Estudiante:</label>
            <input type="text" id="dni_estudiante" name="dni_estudiante" readonly>
        </div>
        <div>
            <label for="campo-notas">Nota:</label>
            <input type="number" id="campo-notas" name="nota" required>
            <button type="submit" class="btn">Agregar nota</button>
            <a href="{{ url_for('index') }}" class="button button-back">Back</a>
        </div>
    </form>

    <script>
        document.getElementById('categoria').addEventListener('change', function() {
            var categoriaId = this.value;
            fetch(`/get_courses/${categoriaId}`)
                .then(response => response.json())
                .then(data => {
                    var cursoSelect = document.getElementById('id_curso');
                    cursoSelect.innerHTML = '<option value="" disabled selected>Seleccione un curso</option>';
                    data.forEach(curso => {
                        var option = document.createElement('option');
                        option.value = curso.id;
                        option.textContent = curso.nombre;
                        cursoSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('id_curso').addEventListener('change', function() {
            var cursoId = this.value;
            fetch(`/get_students/${cursoId}`)
                .then(response => response.json())
                .then(data => {
                    var estudianteSelect = document.getElementById('estudiante');
                    estudianteSelect.innerHTML = '<option value="">Selecciona un estudiante</option>';
                    data.forEach(estudiante => {
                        var option = document.createElement('option');
                        option.value = estudiante.id_estudiante;
                        option.textContent = `${estudiante.nombre} ${estudiante.apellido}`;
                        estudianteSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('estudiante').addEventListener('change', function() {
            var estudianteId = this.value;
            fetch(`/get_dni_by_estudiante/${estudianteId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('dni_estudiante').value = data.dni_estudiante;
                })
                .catch(error => console.error('Error:', error));
        });

        document.getElementById('campo-notas').addEventListener('input', function() {
            var nota = parseFloat(this.value);
            if (nota < 0 || nota > 20 || isNaN(nota)) {
                this.setCustomValidity('La nota debe estar entre 0 y 20');
            } else {
                this.setCustomValidity('');
            }
        });
    </script>
</body>
</html>
